@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->


<section class="bg-hero" style="background: url('../images/bg_hero.png');">
    <div class="row h-100 align-items-center justify-content-end">
        <div class="col-8">
            <h2 class="hero-text text-end">Hoy <span>Viernes</span> ahorrá un <span>35%</span> en <span>Combo Alaska 25 piezas!</span></h2>
        </div>
    </div>
</section>

<section class="my-5">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <h2 class="section-title">Los Favoritos</h2>
                <img src="~/images/emoticon_smile.png" class="emoticon-title">
            </div>
        </div>
    </div>


    <div class="row mt-4" style="row-gap: 20px;">
        <div class="col-8">
            <div class="position-relative overflow-hidden ">
                <figure class="image_wrapper">
                    <img src="~/images/fav_tabla.png" alt="">
                    <a href="#" class="fav-item-link">Combo 100% salomón XL de 40 piezas</a>
                </figure>
            </div>
        </div>
        <div class="col-4">
            <div class="position-relative overflow-hidden ">
                <figure class="image_wrapper">
                    <img src="~/images/fav_postre.png" alt="">
                    <a href="#" class="fav-item-link">Postre helado OREO</a>
                </figure>
            </div>
        </div>
        <div class="col-4">
            <div class="position-relative overflow-hidden ">
                <figure class="image_wrapper">
                    <img src="~/images/fav_arrolladitos.png" alt="">
                    <a href="#" class="fav-item-link">Empanaditas chinas de carne</a>
                </figure>
            </div>
        </div>
        <div class="col-8">
            <div class="position-relative overflow-hidden ">
                <figure class="image_wrapper">
                    <img src="~/images/fav_tempura.png" alt="">
                    <a href="#" class="fav-item-link">Langostinos rebozados en panko fritos con salsa de tamarindo</a>
                </figure>
            </div>
        </div
    </div>
</section>


<section class="contact-banner position-relative">
    <div class="row py-5">
        <div class="col-8">
            <h2 class="contact-banner-text">Hoy <span>Viernes</span> atendemos de las 11 a 14 horas y de 19 a 23 horas por Whatapp <span>+541140044004</span></h2>
        </div>
        <div class="col-4">
            <img src="~/images/delivery_guy.png" class="contact-banner-img" alt="">
        </div>
    </div>
</section>


<section class="my-5">
     <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <h2 class="section-title">Nuestros Locales</h2>
            </div>
        </div>
    </div>

     <div class="row mt-4">
        <div class="col-3">
            <figure>
                <img src="~/images/local_palermo.png" class="w-100" alt="">
                <a href="#" class="local-item-text">
                    <h3 class="text-uppercase">Palermo</h3>
                    <p class="m-0">Alto Palermo local 1</p>
                </a>
            </figure>
        </div>

         <div class="col-3"> 
            <figure>
                <img src="~/images/local_recoleta.png" class="w-100" alt="">
                <a href="#" class="local-item-text">
                    <h3 class="text-uppercase">Recoleta</h3>
                    <p class="m-0">Callao 986</p>
                </a>
            </figure>
        </div>

         <div class="col-3">
            <figure>
                <img src="~/images/local_belgrano.png" class="w-100" alt="">
                <a href="#" class="local-item-text">
                    <h3 class="text-uppercase">Belgrano</h3>
                    <p class="m-0">Av. Monroe 2401</p>
                </a>
            </figure>
        </div>

         <div class="col-3">
          
            <figure>
                <img src="~/images/local_caballito.png" class="w-100" alt="">
                <a href="#" class="local-item-text">
                    <h3 class="text-uppercase">Caballito</h3>
                    <p class="m-0">Av. Acoyte 234</p>
                </a>
            </figure>
          
        </div>
     </div>



     <div class="row mt-4">
         <div class="col-12">
             <p class="atention-schedule-text">Lunes a Viernes de 11 a 15hs. y de 18 a 23:30 hs. Sábado y domingo de 17 a 0hs.</p>
         </div>
     </div>
</section>